/*Styling broken down in sections*/

	.panel-default {
		opacity: 0.9;
		box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.9);
	}

/*media queries starts*/
	/*nav bar to dropdown styling*/
	body {
		margin: 0;
		padding: 0;
		font-family: sans-serif;
	}
	header {
		background: white;
		width: 100%;
		color: white;
	}
	a {
		text-decoration: none !important;
		color: black;
	}
	nav ul {
		background-color: none;
		overflow: hidden;
		color: white;
		padding: 0;
		text-align: center;
		margin: 0;
		-webkit-transition: max-height 0.4s;
		-ms-transition: max-height 0.4s;
		-moz-transition: max-height 0.4s;
		-o-transition: max-height 0.4s;
		transition: max-height 0.4s;
	}
	nav ul li {
		display: inline-block;
		padding: 20px;
	}
	section {
		line-height: 1.5em;
		font-size: 0.9em;
		padding: 40px;
		width: 75%;
		margin: 0;
	}
	.handle {
		width: 100%;
		background: #ed1f7e;
		text-align: left;
		box-sizing: border-box;
		padding: 10px 10px;
		cursor: pointer;
		color: white;
		display: none;
	}
	@media screen and (max-width: 1224px){
		nav ul {
			max-height: 0;
		}
		.showing {
			max-height: 20em;
		}
		nav ul li {
			background: #f589bc;
			box-sizing: border-box;
			width: 100%;
			padding: 10px;
			text-align: left;
			color: white;
		}
		.handle {
			display: block;
		}
	}
/*media queries ends*/


/*ui-view styling starts*/
	#contentarea {
		margin: 100px 0px;
		width: 100%;
		color: black;
		padding: 10px;
	}
/*ui-view styling ends*/


/*home screen styling starts*/
/*home screen styling ends*/


/*top navigation bar styling starts*/
	#navbar_top {
		padding: 0;
		height: 100px;
		background-color: white;
		max-height: 80px;
	}
	#btn {
		font-weight: bold;
		text-decoration: none;
		color: black;
	}
	#btn:focus,
	#btn:active,
	#btn:hover {
		background-color: none !important;
		color: #ed1f7e !important;
		font-size: 150%;
		font-variant: small-caps;
		transition-duration: .3s;
	}
	#logo {
		width:170px;
		height:80px;
		padding-top: 0;
	}
	#logo .btn:focus {
		outline: none;
	}
/*top navigation bar styling ends*/


/*upcoming evnts page styling starts*/
	#uevents_box {
		width: auto;
		height: 250px;
		padding: 30px;
		border: 5px solid gray;
		margin: 0;
		list-style-type: none;
	}
	#uevents_items {
		margin: auto;
		width: 100%;
		padding: 0px 30px;
	}
/*upcomign events page styling ends*/


/*login page styling starts*/
	/*login box*/
	#loginContainer {
		padding-top: 70px;
	}
/*login page styling ends*/


/*profile page styling starts*/
	/*profile picture box*/
	#picbox {
		width: 250px;
		height: 250px;
		padding: 10px;
		border: 5px solid gray;
		margin: 0;
		overflow-y: auto;
	}
	/*profile information box*/
	#prof_info {
		width: 500px;
		height: 250px;
		padding: 10px;
		border: 5px solid gray;
		margin: 0;
		list-style-type: none;
	}
	/*upcoming events box*/
	#pevents_box {
		width: 765px;
		height: auto;
		padding: 10px;
		border: 5px solid gray;
		margin: 0;
	}
	#pevents_table {
		width: 100%;
		border-collapse: collapse;
	}
	#pevents_table td:hover {
		background-color: #ed1f7e;
	}
	#profile_body {
		align-content: center;
	}
/*profile page styling ends*/


/*register page styling starts*/
	input[type=text],
	input[type=input],
	input[type=email],
	input[type=tel],
	input[type=password],
	textarea,
	fieldset {
		-webkit-appearance: none;
		width: 100%;
		border: 1px solid #333;
		margin: 0;
		font-family: inherit;
		font-size
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	input:invalid {
		box-shadow: 0 0 5px 1px #ed1f7e;
	}
	input:focused:invalid {
		outline: none;
	}
	input[type="password"] {
		-webkit-appearance: disc !important;
	}
/*register page styling ends*/


/* footer navbar styling starts*/
	/*navigation bar at footer*/
	#navbar_bot {
		height: 100px;
		background-color: white;
		max-height: 80px;
	}
	/*trademark logo*/
	h5 {
		padding-top: 35px;
		text-align: center;
	}
/* footer navbar styling ends*/