<div ui-view></div>

<div class="container" id="login_box">
	<div class="panel-group">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h1>Registration</h1>
				<div class="panel-body">
					<form name="userForm" ng-submit="submitForm()"> 
						<div class="form-group">

						<!-- Registration page for new users -->
							<!-- NAME -->
							<label>Full Name</label>
							<input type="input" class="form-control" placeholder="Enter Full Name" ng-model="vm.name"><br>

							<!-- PASSWORD -->
							<label>Password</label>
							<input type="input" class="form-control" placeholder="Enter Password" ng-model="vm.password"><br>

							<!-- EMAIL -->
							<label>Email</label>
							<input type="input" class="form-control" placeholder="Enter Email" ng-model="vm.email"><br>
							
							<!-- PHONE NUMBER -->
							<label>Phone Number</label>
							<input type="input" class="form-control" placeholder="Enter Phone Number" ng-model="vm.number"><br>
				
							<!-- Submit button to go to profile page -->
							<button type="button" class="btn btn-default" ng-click="vm.register()">Submit</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>